<form class="form form-thread-reply" action="#" ng-submit="submit($event)">
  <input type="hidden" ng-model="formData.threadId">
  <header>
    <h1>Reply</h1>
  </header>
  <ul class="controls">
    <li class="form-element-author">
      <label for="formReplyInputAuthor">Author</label>
      <input id="formReplyInputAuthor" ng-model="formData.author">
    </li>
    <li class="form-element-email">
      <label for="formReplyInputEmail">E-mail</label>
      <input id="formReplyInputEmail" ng-model="formData.email">
    </li>
    <li class="form-element-content">
      <label for="formReplyTextareaContent">Content</label>
      <input id="formReplyTextareaContent" ng-model="formData.content">
    </li>
  </ul>
  <footer>
    <input type="submit" value="Submit">
  </footer>
</form>