section.post-item
  border: 1px solid #ccc
  border-radius: 3px
  padding: 10px
  margin-bottom: 10px
  min-height: 140px

  >header
    margin-bottom: 10px
    padding-bottom: 10px
    border-bottom: 1px solid #ccc

    dl
      dt, dd
        display: inline-block

      dt
        font-weight: bold

        &:after
          content: ':'

      dd
        &:after
          color: #ccc
          content: '|'
          padding: 0 5px

      dd:last-child:after
        display: none

  aside.attachment
    display: block
    float: left
    width: 150px
    height: 100px
    border: 1px solid #ccc
    margin-right: 20px
    margin-bottom: 20px