<!DOCTYPE html>
<html>
  <head>
    <title>Luluchan</title>
    <base href="/">
    <script src="/public/assets/app.js"></script>
    <link rel="stylesheet" href="/public/assets/layout-main.css">
  </head>
  <body ng-cloak>
    <nav>
      <header>
        <h1><a class="menu-item" href="javascript:void(0)" ui-sref="main-index">Luluboard</a></h1>
      </header>
      <ul>
        <li><a class="menu-item" href="javascript:void(0)" ui-sref="board-index">Boards</a></li>
      </ul>
    </nav>
    <div ui-view></div>
  </body>
</html>