body
  margin: 30px

body>nav
  padding-bottom: 10px
  border-bottom: 1px solid #ccc

  >header, >ul
    display: inline-block

  a.menu-item
    display: inline-block
    padding: 5px
    border: 1px solid #ccc
    margin-right: 5px

body>div>article
  padding: 20px 0
  border-bottom: 1px solid #ccc
  
header.layout-header
  font-size: 2em
  font-weight: bold
  margin-bottom: 1em

input[type="text"], input[type="email"], textarea
  padding: 5px
  border: 1px solid #ccc
  border-radius: 3px

  &:focus
    border-color: dodgerblue

input[type="button"], input[type="submit"]
  border: 1px solid #ccc
  background-color: #f0f0f0
  padding: 10px
  color: #000
  font-weight: bold
  border-radius: 3px
  text-transform: uppercase

  &:hover, &:focus
    border-color: dodgerblue
    background-color: dodgerblue
    color: white
    outline: 0!important

@import "directive/Spinner/spinner"