<section>
  <ul class="controls">
    <li class="form-element-author">
      <label for="formReplyInputAuthor">Author</label>
      <input id="formReplyInputAuthor" ng-model="postFormService.formData.author">
    </li>
    <li class="form-element-email">
      <label for="formReplyInputEmail">E-mail</label>
      <input id="formReplyInputEmail" ng-model="postFormService.formData.email">
    </li>
    <li class="form-element-content">
      <label for="formReplyTextareaContent">Content</label>
      <input id="formReplyTextareaContent" ng-model="postFormService.formData.content">
    </li>
  </ul>
</section>