<section class="form-post">
  <ul class="controls">
    <li class="form-element-author">
      <label for="formReplyInputAuthor">Author</label>
      <input type="text" id="formReplyInputAuthor" ng-model="postFormService.formData.author">
    </li>
    <li class="form-element-email">
      <label for="formReplyInputEmail">E-mail</label>
      <input type="text" id="formReplyInputEmail" ng-model="postFormService.formData.email">
    </li>
    <li class="form-element-content">
      <label for="formReplyTextareaContent">Content</label>
      <textarea id="formReplyTextareaContent" ng-model="postFormService.formData.content"></textarea>
    </li>
    <li class="form-element-attachment">
      <label for="formReplyAttachment">Attachment</label>
      <input type="file" ng-file-model="postFormService.formData.attachment" id="formReplyAttachment"/>
    </li>
  </ul>
</section>